<div class="pd-none-container">
<div collapse="fade" class="ion-no-border">
  <div class="ion-toolbar">
    <ion-icon size="medium" class="ionic-icon" (click)="goBack()" name="arrow-back-outline"></ion-icon>
    <div class="ionic-title">Orders</div>
  </div>
</div>

<div class="tabs-container">
      <div class="cart">
        <div class="cart-item" *ngFor="let data of products;let i = index">
          <img [src]="'assets/' + data.folder + '/' + (1) +'.webp'" [alt]="data.productName">
          <div class="cart-main">
            <div class="cart-details">
              <h2>{{data.productName}}</h2>
              <p>Qty = {{i+1}} | Size = M</p>
              <button class="completed-flag">In Delivery</button>
              <div class="review-section">
                <h2>{{data.productAmount | currency}}</h2>
              </div>
            </div>


      </div>
    </div>


  </div>
  <div class="contaienr">
  
    <div class="progress-container">
      <div class="progress" id="progress"></div>
      <div class="circle" style="background-image: url('assets/delivery/box.png');"></div>
      <div class="circle" style="background-image: url('assets/delivery/vehicle.png');"></div>
      <div class="circle" style="background-image: url('assets/delivery/delivery.png');"></div>
      <div class="circle" style="background-image: url('assets/delivery/delivered.png');"></div>
    </div>
  </div>

  <div class='wrapper'>
      <div class="order-status-details">
    <h2>Order Status Details</h2>
  </div>
    <div class='steps' id='steps'>
      <div class="step" *ngFor="let wizard of wizards">
        <div class="number" [ngClass]="{'completed': wizard.complete}" [innerHTML]="tickIcon">
        </div>
        <div class="info">
          <p class="title">{{ wizard.title }}</p>
          <p class="text">{{ wizard.text }}</p>
        </div>
      </div>
      
    </div>
    </div>
  
</div>
</div>