

.header-img{
  text-align: center;
  padding: 10px 0 0 0;
  padding: 10px 0 0 0;
}
.plans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border-radius: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .plans .plan input[type="radio"] {
    position: absolute;
    opacity: 0;
    accent-color: #fff;
  }
  
  .plans .plan {
    cursor: pointer;
    width: 48.5%;
  }
  
  .plans .plan .plan-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 0 0 15px;
    background: #fff;
    font-size: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e1e2e7;
    border-radius: 10px;
    position: relative;
  }
  
  .plans .plan .plan-content img {
    margin-right: 30px;
    width: 30px;
  }
  
  .plans .plan .plan-details span {
    color: #646a79;
    font-size: 14px;
    line-height: 18px;

  }
  
  .main .title {
    font-size: 16px;
    font-weight: 500;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    color: #333;
    margin: 20px 0px 20px 0px;
  }
  


  
  .plans .plan input[type="radio"]:checked + .plan-content {
    border: 1px solid #333;
    background: #fff;
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
  }
  
  @media screen and (max-width: 991px) {
    .plans {
      margin: 0 20px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
  
    .plans .plan {
      width: 100%;
    }
  
    .plan.complete-plan {
      margin-top: 20px;
    }
  
    .plans .plan .plan-content .plan-details {
      width: 70%;
      display: inline-block;
    }
  
    .plans .plan input[type="radio"]:checked + .plan-content:after {
      top: 45%;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%);
    }
  }
  
  @media screen and (max-width: 767px) {
    .plans .plan .plan-content .plan-details {
      width: 60%;
      display: inline-block;
    }
  }
  
  @media screen and (max-width: 540px) {
    .plans .plan .plan-content img {
      margin-bottom: 20px;
      height: 56px;
      -webkit-transition: height 0.4s;
      -o-transition: height 0.4s;
      transition: height 0.4s;
    }
  
    .plans .plan input[type="radio"]:checked + .plan-content:after {
      top: 20px;
      right: 10px;
      display: none;
    }
  
    .plans .plan .plan-content .plan-details {
      width: 100%;
    }
  
    .plans .plan .plan-content {
      display: flex;
    }
  }
  
  /* inspiration */
  .inspiration {
    font-size: 12px;
    margin-top: 50px;
    position: absolute;
    bottom: 10px;
    font-weight: 300;
  }
  
  .inspiration a {
    color: #666;
  }
  @media screen and (max-width: 767px) {
    /* inspiration */
    .inspiration {
      display: none;
    }
  }
  
.main .save-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
  .main button{
    width: 90%;
    height: 45px;
    background-color: #121212;
    color: #fff;
    border: none;
    border-radius: 30px;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    margin: 30px 0 30px 0;
  }