<ion-header collapse="fade" class="ion-no-border">
  <div class="ion-toolbar">
      <ion-icon size="medium" class="ionic-icon" (click)="closeOTP()" routerLink="/authenticate" name="arrow-back-outline"></ion-icon>
      <div class="ionic-title">Reset Password</div>
  </div>
</ion-header>
<ion-content class="ion-padding">
<app-otp [forgotBy]="forgotBy" *ngIf="openOTP"></app-otp>
<div class="main" *ngIf="!openOTP">
    <div class="header-img">
        <img loading="eager" src="assets/forgot.jpg" width="80%" alt="">
    </div>
    <div class="plans">
      <div class="title">Enter contact details should we use to reset your password</div>
      <div class="box box-two">
        <div class="input-container">
            <i class="fa fa-user"></i>
            <input type="text" placeholder="Email / Mobile Number" class="input-field" />
        </div>
        </div>
    </div>

    <div class="save-button">
        <button (click)="generateOTP()">Continue</button>
    </div>
  </div>
  </ion-content>
  