<ion-header collapse="fade" class="ion-no-border">
  <div class="ion-toolbar">
      <ion-icon size="medium" class="ionic-icon" (click)="closeOTP()" routerLink="/authenticate" name="arrow-back-outline"></ion-icon>
      <div class="ionic-title">Forgot Password</div>
  </div>
</ion-header>
<ion-content class="ion-padding">
<app-otp [forgotBy]="forgotBy" *ngIf="openOTP"></app-otp>
<div class="main" *ngIf="!openOTP">
    <div class="header-img">
        <img loading="eager" src="assets/reset-password.avif" width="80%" alt="">
    </div>
    <div class="plans">
      <div class="title">Select which contact details should we use to reset your password</div>
      <label class="plan basic-plan" for="basic">
        <input checked type="radio" name="plan" (click)="forgotBy = '+91-7718569994'" id="basic" />
        <div class="plan-content">
          <img loading="lazy" src="assets/sms.svg" alt="" />
          <div class="plan-details">
            <span>via SMS</span>
            <p>+91-7718569994</p>
          </div>
        </div>
      </label>
  
      <label class="plan complete-plan" for="complete">
        <input type="radio" id="complete" (click)="forgotBy = 'Testing@gmail.edu'" name="plan" />
        <div class="plan-content">
          <img loading="lazy" src="assets/email.svg" alt="" />
          <div class="plan-details">
            <span>via Email</span>
            <p>{{'Testing@gmail.edu'}}</p>
          </div>
        </div>
      </label>
    </div>

    <div class="save-button">
        <button (click)="generateOTP()">Continue</button>
    </div>
  </div>
  </ion-content>
  