
<div class="header-container">
  <div class="header">
    <ion-icon size="medium" (click)="goBack()" class="ionic-icon" name="arrow-back-outline"></ion-icon>
  </div>
  
  <div class="product-image">
    <img *ngFor="let data of productImages" [src]="data"  alt="Product Image">
  </div>
  
</div>

<div class="container">
  <div class="product-details">
    <h1>Venesa Long Shirt</h1>
    <p class="rating"> <button>7,642 sold</button> <ion-icon size="medium" class="ionic-icon"
        name="star-half-outline"></ion-icon> 4.8 (4,749 reviews)</p>
    <h2>Description</h2>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </p>
  </div>

  <div class="options">
    <div class="sizes">
      <span class="label">Sizes</span>
      <button class="active">S</button>
      <button>M</button>
      <button>L</button>
    </div>

    <div class="colors">
      <span class="label">Colors</span>
      <button class="black active"><ion-icon size="medium" name="checkmark-outline"></ion-icon></button>
      <button class="blue"></button>
      <button class="gray"></button>
      <button class="brown"></button>
      <button class="white"></button>
    </div>
  </div>

  <div class="quantity">
    <span>Quantity</span>
    <div class="controls">
      <button>-</button>
      <span>1</span>
      <button>+</button>
    </div>
  </div>
  <div class="price-details">
  <p>Total Price : <span class="price">  $320.00</span></p>
  </div>

 <div class="buy-button">
  <button class="add-to-cart"> <ion-icon size="medium"  class="ionic-icon" name="bag-handle-outline"></ion-icon>
    Add to Cart</button>
 </div>
</div>