
<div class="header-container">
  <div class="header">
    <ion-icon size="medium" (click)="goBack()" class="ionic-icon" name="arrow-back-outline"></ion-icon>
  </div>
  
  <div class="product-image">
    <img *ngFor="let data of productImages" [src]="data"  alt="Product Image">
  </div>
  
</div>

<div class="container">
  <div class="product-details">
  <div class="watch-later">
    <h1>Venesa Long Shirt</h1>
    <ion-icon size="medium" name="bookmark-outline" style="font-size: 25px;"></ion-icon>
  </div>
    <p class="rating"> <button>7,642 sold</button> <ion-icon size="medium" class="ionic-icon"
        name="star-half-outline"></ion-icon> 4.8 (4,749 reviews)</p>
    <h2>Description</h2>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </p>
  </div>

  <div class="options">

    <div class="colors">
      <span class="label">Colors</span>
      <button class="black" (click)="activeColorId = 0" [class.active]="activeColorId === 0">
        <ion-icon *ngIf="activeColorId === 0" size="medium" name="checkmark-outline"></ion-icon>
      </button>
      
      <button class="blue" (click)="activeColorId = 1" [class.active]="activeColorId === 1">
        <ion-icon *ngIf="activeColorId === 1" size="medium" name="checkmark-outline"></ion-icon>
      </button>
      
      <button class="gray" (click)="activeColorId = 2" [class.active]="activeColorId === 2">
        <ion-icon *ngIf="activeColorId === 2" size="medium" name="checkmark-outline"></ion-icon>
      </button>
      
      <button class="brown" (click)="activeColorId = 3" [class.active]="activeColorId === 3">
        <ion-icon *ngIf="activeColorId === 3" size="medium" name="checkmark-outline"></ion-icon>
      </button>
      
      <button class="white {{activeColorId === 4?'black-color':''}}" (click)="activeColorId = 4" [class.active]="activeColorId === 4">
        <ion-icon *ngIf="activeColorId === 4" size="medium" name="checkmark-outline"></ion-icon>
      </button>
      
    </div>
    
    <div class="sizes">
      <span class="label">Sizes</span>
      <button (click)="activeSizeId = 0" [class.active]="activeSizeId === 0">S</button>
      <button (click)="activeSizeId = 1" [class.active]="activeSizeId === 1">M</button>
      <button (click)="activeSizeId = 2" [class.active]="activeSizeId === 2">L</button>
      <button (click)="activeSizeId = 3" [class.active]="activeSizeId === 3">XL</button>
      <button (click)="activeSizeId = 4" [class.active]="activeSizeId === 4">XXL</button>
    </div>


  </div>

  <div class="quantity">
    <span>Quantity</span>
    <div class="controls">
      <button (click)="decrement()">-</button>
      <span>{{incrementedValue}}</span>
      <button (click)="increment()">+</button>
    </div>
  </div>

<div class="payment-details">
  <div class="price-details">
      <p>Total Price:</p>
      <span class="price"> ${{amount}}.00</span>
  </div>
  <div class="buy-button">
    <button class="add-to-cart"> <ion-icon size="medium"  class="ionic-icon" name="bag-handle-outline"></ion-icon>
      Add to Cart</button>
  </div>
</div>
</div>


