<div collapse="fade" class="ion-no-border">
    <div class="ion-toolbar">
        <ion-icon size="medium" class="ionic-icon" (click)="goBack()" name="arrow-back-outline"></ion-icon>
        <div class="ionic-title">Checkout</div>
    </div>
</div>

<div class="cart">
    <h1>Pre-Book Store Address</h1>
    <div class="cart-item">
        <ion-icon class="location" name="location"></ion-icon>
        <div class="cart-main">
            <div class="cart-details">
                <h2> 5284+3F5, Yadav Nagar, Airoli Naka, Airoli, Navi Mumbai, Maharashtra 400708 </h2>
            </div>
        </div>

    </div>
</div>


<div class="cart">
    <h1>Order List</h1>
    <div class="cart-item" *ngFor="let data of products;">
        <img [src]="'assets/' + data.folder + '/' + (1) +'.webp'" [alt]="data.productName">
        <div class="cart-main">
            <div class="cart-details">
                <h2>{{data.productName}}</h2>
                <p>Color | Size = M</p>
                <h2>{{data.productAmount | currency}}</h2>
            </div>
            <div class="cart-details gap-grid">
                <div class="quantity-control">
                    <button>1</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="payment-details">
    <div class="buy-button" (click)="createRzpayOrder(200,'INR')">
        <button class="add-to-cart">Continue to payment <ion-icon size="medium" class="ionic-icon"
                name="arrow-forward-outline"></ion-icon></button>
    </div>
</div>