<div class="muck-up">
    <div class="content" *ngFor="let data of slides; let i = index">
        <!-- Display the logo and content when it's the current slider -->
        <div class="logo" *ngIf="i === slider">
            <img loading="eager" [src]="data.image" [alt]="data.title">
        </div>
        <div class="header" *ngIf="i === slider">
            <h4>FLU<span>X</span>FUSION</h4>
            <p [innerHTML]="data.title"></p>
        </div>

        <!-- Pagination Area -->
        <div class="slider-group" *ngIf="i === slider">
            <div class="slider" [class.selected]="j === slider" *ngFor="let slide of slides; let j = index">
            </div>
        </div>

        <!-- Login/Next button -->
        <div class="login" *ngIf="i === slider">
            <a class="btn sign-in" (click)="i > 3 ?gettingStart():activeSlider(slider + 1)"> {{ i > 3 ? 'Get Started' : 'Next' }} </a>
        </div>
    </div>
</div>