.logo img{
    margin-top: 70px;
    height: 330px;
}
.header {
    text-align: center;
    color: #000;
}

.header h4 {
    font-size: 48px;
    margin-bottom: 34px;
}

.header h4 span {
    color: #00e777;
}

.login {
    padding: 0 10%;
    margin-top: 20%;
}

.btn {
    cursor: pointer;
    display: block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 16px 12px;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    background-image: none;
    line-height: 1.42857143;
    border: 1px solid transparent;
}

.sign-in {
    background-color: #000;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}



.button-next--fade {
    opacity: 0.3;
    pointer-events: none;
    filter: blur(2px);
}


.slider-group {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 54px;
    gap: 10px;
}

.slider {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 30%;
    background-color: #000;
    border: 2px solid #000;
    cursor: pointer;
    margin: 2px 0;
}

.slider.selected {
    width: 15px;
    height: 5px;
    animation: activeItem 5ms ease-in-out;
}
