<div class="pd-none-container">
<div collapse="fade" class="ion-no-border">
  <div class="ion-toolbar">
    <ion-icon size="medium" class="ionic-icon" (click)="goBack()" name="arrow-back-outline"></ion-icon>
    <div class="ionic-title">Orders</div>
  </div>
</div>

<div class="tabs-container">
  <div class="tabs">
    <div class="tab-links">
      <button class="tab-link {{activeTabIndex == 1?'active':''}}" (click)="activateTab(1)"
        data-tab="tab-1">Ongoing</button>
      <button class="tab-link {{activeTabIndex == 2?'active':''}}" (click)="activateTab(2)"
        data-tab="tab-2">Completed</button>
    </div>

    <div class="tab-content {{activeTabIndex == 1?'active':''}}" id="tab-1">
      <div class="cart">
        <div class="cart-item" *ngFor="let data of products;let i = index">
          <img [src]="'assets/' + data.folder + '/' + (1) +'.webp'" [alt]="data.productName">
          <div class="cart-main">
            <div class="cart-details">
              <h2>{{data.productName}}</h2>
              <p>Qty = {{i+1}} | Size = M</p>
              <button class="completed-flag">In Delivery</button>
              <div class="review-section">
                <h2>{{data.productAmount | currency}}</h2>
                <button routerLink="/track-order">Track Order</button>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="tab-content {{activeTabIndex == 2?'active':''}}" id="tab-2">
      <div class="cart">
        <div class="cart-item" *ngFor="let data of products;let i = index">
          <img [src]="'assets/' + data.folder + '/' + (1) +'.webp'" [alt]="data.productName">
          <div class="cart-main">
            <div class="cart-details">
              <h2>{{data.productName}}</h2>
              <p>Qty = {{i+1}} | Size = M</p>
              <button class="completed-flag">Completed</button>
              <div class="review-section">
                <h2>{{data.productAmount | currency}}</h2>
                <div class="ratings"><ion-icon [name]="data.rated?'star':'star-outline'"
                    *ngFor="let data of ratingArr;let i = index" (click)="onClick(i+1)"></ion-icon></div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>
</div>