<div class="container">
    <img width="250px" src="https://img.freepik.com/premium-vector/mobile-login-flat-design-vector-illustration_1288538-7539.jpg?ga=GA1.1.262899835.1729593723&semt=ais_hybrid" />
    <div class="box box-one" *ngIf="continuewithSocial">
        <h2>Let's you in</h2>
        <button (click)="navigateToOTPPage()">
            <img src="assets/google.png" width="19">
            <span>Sign in with Google</span>
        </button>
        <button (click)="navigateToOTPPage()">
            <img src="assets/apple.png" width="19">
            <span>Sign in with Apple</span>
        </button>
    </div>
    <h5 *ngIf="continuewithSocial">Or</h5>
    
    <div class="box box-two" *ngIf="!continuewithSocial">
        <h2>Let's you in</h2>
        <div class="input-container">
            <i class="fa fa-envelope"></i>
            <input type="email" placeholder="Email" class="input-field" />
        </div>
        <div class="input-container">
            <i class="fa fa-lock"></i>
            <input type="password" placeholder="Password" class="input-field" />
        </div>
    </div>
    <div class="box-two">
        <button class="next-btn" (click)="!continuewithSocial?letsSignIn():continuewithSocial = false">{{!continuewithSocial?'Login':'Sign in with password'}}</button>
    </div>
    <p>Don't have an account <a href="#">Sign Up</a></p>

    <h5 *ngIf="!continuewithSocial">Or</h5>
    <div class="box box-one" *ngIf="!continuewithSocial">
        <button (click)="navigateToOTPPage()">
            <img src="assets/google.png" width="19">
            <span>Sign in with Google</span>
        </button>
        <button (click)="navigateToOTPPage()">
            <img src="assets/apple.png" width="19">
            <span>Sign in with Apple</span>
        </button>
    </div>
</div>