<div collapse="fade" class="ion-no-border">
    <div class="ion-toolbar">
        <ion-icon size="medium" class="ionic-icon" (click)="goBack()" name="arrow-back-outline"></ion-icon>
        <div class="ionic-title">My Cart</div>
    </div>
</div>

<div class="cart">
    <div class="cart-item" *ngFor="let data of products;">
        <img [src]="'assets/' + data.folder + '/' + (1) +'.webp'" [alt]="data.productName">
        <div class="cart-main">
            <div class="cart-details">
                <h2>{{data.productName}}</h2>
                <p>Color | Size = M</p>
                <h2>{{data.productAmount | currency}}</h2>
            </div>
            <div class="cart-details gap-grid">

                <div class="quantity-control">
                    <button>-</button>
                    <div class="quantity">1</div>
                    <button>+</button>
                </div>
            </div>
        </div>

    </div>


</div>

<div class="payment-details">
    <div class="price-details">
        <p>Total Price:</p>
        <span class="price"> $108.00</span>
    </div>

    <div class="buy-button">
        <button class="add-to-cart">Checkout <ion-icon size="medium" class="ionic-icon"
                name="arrow-forward-outline"></ion-icon></button>
    </div>
</div>