<div class="filter-container">
  <h2>Sort & Filter</h2>
  <div class="categories">
    <h3>Categories</h3>
    <div class="category-options">
      <button class="active">All</button>
      <button>Clothes</button>
      <button>Electronics</button>
      <button>Shoes</button>
    </div>
  </div>


    
    <div class="price-range-slider">
      <h3>Price Range</h3>
      <div class="range-container">
        <div class="sliders_control">
          <input #fromSlider type="range" min="100" max="1000" value="100" />
          <div #scale class="scale"></div>
          <input #toSlider type="range" min="100" max="1000" value="1000" />
      </div>
        <div class="equalizer-bars">
          <span class="bar" style="height: 20%;"></span>
          <span class="bar" style="height: 50%;"></span>
          <span class="bar" style="height: 70%;"></span>
          <span class="bar" style="height: 40%;"></span>
          <span class="bar" style="height: 90%;"></span>
          <span class="bar" style="height: 60%;"></span>
        </div>
        <div class="price-labels">
          <span id="fromPrice"> <div #fromSliderTooltip class="tooltip slider-tooltip"></div>
          </span>
          <span id="toPrice">  <div #toSliderTooltip class="tooltip slider-tooltip"></div></span>
        </div>
      </div>
    </div>
  

  
  <div class="sort-by">
    <h3>Sort By</h3>
    <div class="sort-options">
      <button>Popular</button>
      <button class="active">Most Recent</button>
      <button>Price High</button>
      <button>Price Low</button>
    </div>
  </div>
  
  <div class="ratings">
    <h3>Rating</h3>
    <div class="rating-options">
      <button>All</button>
      <button>5 ★</button>
      <button class="active">4 ★</button>
      <button>3 ★</button>
      <button>2 ★</button>
    </div>
  </div>
  
  <div class="action-buttons">
    <button class="reset-button" routerLink="/home">Cancel</button>
    <button class="apply-button" routerLink="/home">Apply</button>
  </div>
</div>
