<div class="profile-container">
<ion-icon name="arrow-back-outline" class="back-button"></ion-icon>
  <h2 class="title">Profile</h2>

  <div class="profile-info">
    <ion-icon size="large" class="profile-pic" name="person-circle-outline"></ion-icon>
      <h3 class="name">Ajit Rajbhar</h3>
      <p class="username">{{'@ajitrajbhar2504'}}</p>
      <button class="edit-button">Edit Profile</button>
  </div>

  <div class="menu">
      <div class="menu-item"><span><ion-icon  name="settings-outline"></ion-icon></span> Settings</div>
      <div class="menu-item"><span><ion-icon  name="cart-outline"></ion-icon></span> My Orders</div>
      <div class="menu-item"><span><ion-icon  name="location-outline"></ion-icon></span> Address</div>
      <div class="menu-item"><span><ion-icon  name="lock-closed-outline"></ion-icon></span> Change Password</div>
  </div>

  <div class="menu">
      <div class="menu-item"><span><ion-icon  name="shield-outline"></ion-icon></span> Help & Support</div>
      <div class="menu-item logout"><span><ion-icon  name="log-out-outline"></ion-icon></span> Log out</div>
  </div>
</div>