<div collapse="fade" class="ion-no-border">
  <div class="ion-toolbar">
      <ion-icon size="medium" class="ionic-icon" (click)="goBack()" name="arrow-back-outline"></ion-icon>
      <div class="ionic-title">Coupon</div>
  </div>
</div>

<div class="container">
<div class="coupon-container">
  <!-- KFC Coupon -->
  <div class="coupon">
    <div class="coupon-left">
      <h2 class="coupon-title"><span class="brand">KFC</span> 25% OFF</h2>
      <p class="coupon-desc">Get 25% at your next KFC buy</p>
      <ul>
        <li>Redeemable at all KFC restaurants in the UK.</li>
        <li>Not valid with any other discounts and promotions.</li>
        <li>No cash value.</li>
      </ul>
    </div>
  </div>
  <div class="coupon-right">
    <img src="https://www.drupal.org/files/styles/grid-3-2x/public/project-images/qrcode-module_0.png?itok=ZVIdRXkv" alt="QR Code" class="qr-code">
    <p class="coupon-expiry">Valid until 03 March 2022</p>
  </div>
  <div class="copy-coupons">
    <button class="coupon-details">jdk3411</button>
    <button class="copy">copy</button>
  </div>
</div>
</div>