::ng-deep .ion-page {
  justify-content: unset;
}

.container {
  padding: 0 20px 40px 40px;
  border-radius: unset;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
}

.coupon-container {
  width: 100%;
  max-width: 400px;
}

.coupon {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}

.coupon-title {
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  font-weight: 800;
  justify-content: space-between;
}

.coupon-desc {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 15px;
}

ul {
  font-size: 15px;
  margin-bottom: 10px;

  li {
    line-height: 18px;
  }
}

.coupon-expiry {
  font-size: 12px;
  margin-top: 10px;
  color: #888;
}

.qr-code {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.brand {
  color: red;
  font-weight: bold;
  font-family: fantasy;
}

.coupon-right {
  text-align: center;
}

.copy-coupons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  button{
    padding: 10px 35px;
    border-radius: 20px;
    border: 1px solid #333;
    background: none;
    cursor: pointer;
    background: #333;
  }
  .copy{
    color: white;
  }
  .coupon-details{
    text-transform: uppercase;
    border: dotted;
    background: transparent;
  }
}