<div class="tabs">
	<div role="tablist" aria-label="Navigation">
	  <button role="tab" routerLinkActive="active" [routerLink]="'/home'">
		<ion-icon [name]="router === '/home' || router === '' ? 'storefront' : 'storefront-outline'"></ion-icon>
	  </button>
	  <button role="tab" routerLinkActive="active" [routerLink]="'/cart'">
		<ion-icon [name]="router === '/cart' ? 'bag-handle' : 'bag-handle-outline'"></ion-icon>
	  </button>
	  <button role="tab" routerLinkActive="active" [routerLink]="'/orders'">
		<ion-icon [name]="router === '/orders'  || router === '/track-order'? 'cart' : 'cart-outline'" size="large"></ion-icon>
	  </button>
	  <button role="tab" routerLinkActive="active" [routerLink]="'/offers'">
		<ion-icon [name]="router === '/offers' ? 'wallet' : 'wallet-outline'"></ion-icon>
	  </button>
	</div>
  </div>
  