<div class="tabs">
	<div role="tablist" aria-label="Navigation">
		<button role="tab">
			<ion-icon routerLink="/home" name="storefront-outline"></ion-icon>
		</button>
		<button role="tab">
			<ion-icon routerLink="/cart" name="bag-handle-outline"></ion-icon>
		</button>
		<button role="tab">
			<img routerLink="orders" src="assets/shopping.svg" alt="" style="width: 30px;">
		</button>
		<button role="tab">
			<ion-icon routerLink="/offers" name="wallet-outline"></ion-icon>
		</button>
		<button role="tab">
			<ion-icon routerLink="/" name="person-outline"></ion-icon>
		</button>
	</div>
</div>