<div class="container">
  <header>
    <div class="header-left">
      <ion-icon size="large" (click)="toogleSinup()" name="person-circle-outline"></ion-icon>
      <div class="morning-msg">
        <p>Good Morning 👋</p>
        <h2>Andrew Ainsley</h2>
      </div>
      <div class="menu" *ngIf="signup">
        <span>
          <h1>Hello User</h1>
          <ion-icon (click)="toogleSinup()" name="close-outline"></ion-icon>
        </span>
        <p>To access your Flux Fashion account </p>
        <button (click)="navigateToRegister()">Signup</button>
      </div>
    </div>
    <div class="header-right">
      <ion-icon routerLink="/cart" name="bag-handle-outline"></ion-icon>
      <!-- <img src="assets/notifications.png" width="30px" alt=""> -->
      <!-- <img src="assets/notifications-msg.png" width="30px" alt=""> -->
    </div>
  </header>

  <div class="search-bar">
    <input type="text" placeholder="Search" (focus)="navigateToSearch()">
    <ion-icon (click)="navigateToFilter()" name="options-outline"></ion-icon>
    <i class="fa fa-sliders-h"></i>
  </div>

  <section class="special-offers">
    <h3>Special Offers <span routerLink="/offers">See All</span></h3>
    <div class="product-image">
      <div 
        class="offer-card" 
        *ngFor="let data of offers; let i = index" 
        [class.active]="i === activeSlide">
        <div class="offer-text">
          <h2>{{data.discount}}</h2>
          <p [innerHTML]="data.description"></p>
        </div>
        <img loading="lazy" [src]="data.image" [alt]="data.alt">
      </div>
  
    </div>
  </section>

  <section class="categories">
    <div class="category-item">
      <img src="assets/clothes.png" width="30px" alt="">
      <p>Clothes</p>
    </div>
    <div class="category-item">
      <img src="assets/shoes.png" width="30px" alt="">
      <p>Shoes</p>
    </div>
    <div class="category-item">
      <img src="assets/bags.png" width="30px" alt="">
      <p>Bags</p>
    </div>
    <div class="category-item">
      <img src="assets/electronics.png" width="30px" alt="">
      <p>Electronics</p>
    </div>
    <div class="category-item">
      <img src="assets/watch.png" width="30px" alt="">
      <p>Watch</p>
    </div>
    <div class="category-item">
      <img src="assets/diamonds.png" width="30px" alt="">
      <p>Jewelry</p>
    </div>
    <div class="category-item">
      <img src="assets/kitchen.png" width="30px" alt="">
      <p>Kitchen</p>
    </div>
    <div class="category-item">
      <img src="assets/toys.png" width="30px" alt="">
      <p>Toys</p>
    </div>
  </section>

  <section class="most-popular">
    <h3>Most Popular <span (click)="navigateToProductLists()">See All</span></h3>
    <div class="filter-buttons">
      <button class="active">All</button>
      <button>Clothes</button>
      <button>Shoes</button>
      <button>Bags</button>
      <button>Pants</button>
    </div>

  </section>

</div>
<app-product-lists [showheader]="false" [search]="false"></app-product-lists>