<div class="container">
  <header>
    <div class="header-left">
      <ion-icon size="large" (click)="toogleSinup()" routerLink="/profile" name="person-circle-outline"></ion-icon>
      <div class="morning-msg">
        <p>Good Morning 👋</p>
        <h2>Ajit Rajbhar</h2>
      </div>
      <div class="menu" *ngIf="signup">
        <span>
          <h1>Hello User</h1>
          <ion-icon (click)="toogleSinup()" name="close-outline"></ion-icon>
        </span>
        <p>To access your Grabit account </p>
        <button (click)="navigateToRegister()">Signup</button>
      </div>
    </div>
    <div class="header-right">

      <img src="assets/notifications.png" width="30px" alt="">
      <!-- <img src="assets/notifications-msg.png" width="30px" alt=""> -->
    </div>
  </header>

  <div class="search-bar">
    <input type="text" placeholder="Search" (focus)="navigateToSearch()">
    <ion-icon (click)="navigateToFilter()" name="options-outline"></ion-icon>
    <i class="fa fa-sliders-h"></i>
  </div>

  <section class="special-offers">
    <h3>Special Offers <span routerLink="/offers">See All</span></h3>
    <div class="product-image">
      <div 
        class="offer-card" 
        *ngFor="let data of offers; let i = index" 
        [class.active]="i === activeSlide" routerLink="/view-offers">
        <div class="offer-text">
          <h2>{{data.discount}}</h2>
          <p [innerHTML]="data.description"></p>
        </div>
        <img loading="lazy" [src]="data.image" [alt]="data.alt">
      </div>
  
    </div>
  </section>

  <section class="categories">
    <div class="category-item">
      <img src="assets/clothes.png" width="30px" alt="">
      <p>Shirt</p>
    </div>
    <div class="category-item">
      <img src="assets/t-shirt.png" width="30px" alt="">
      <p>T-Shirt</p>
    </div>
    <div class="category-item">
      <img src="assets/hoddie.png" width="30px" alt="">
      <p>Hoddie</p>
    </div>
    <div class="category-item">
      <img src="assets/saree.png" width="30px" alt="">
      <p>Saree</p>
    </div>
    <div class="category-item">
      <img src="assets/jeans.png" width="30px" alt="">
      <p>Jeans</p>
    </div>
    <div class="category-item">
      <img src="assets/shoes.png" width="30px" alt="">
      <p>Shoes</p>
    </div>
    <div class="category-item">
      <img src="assets/wrist-watch.png" width="30px" alt="">
      <p>Watch</p>
    </div>
    <div class="category-item">
      <img src="assets/sunglasses.png" width="30px" alt="">
      <p>Sunglasses</p>
    </div>
  </section>

  <section class="most-popular">
    <h3>Most Popular <span (click)="navigateToProductLists()">See All</span></h3>
    <div class="filter-buttons">
      <button>All</button>
      <button class="active">Clothes</button>
      <button>Shoes</button>
      <button>Bags</button>
      <button>Pants</button>
    </div>

  </section>

</div>
<app-product-lists [showheader]="false" [search]="false"></app-product-lists>