<div class="container">
  <header>
    <div class="header-left">
      <img loading="lazy" src="assets/profile.webp" alt="User Profile"
        class="profile-pic">
      <div>
        <p>Good Morning 👋</p>
        <h2>Andrew Ainsley</h2>
      </div>
    </div>
    <div class="header-right">
      <img src="assets/notifications.png" width="30px" alt="">
      <!-- <img src="assets/notifications-msg.png" width="30px" alt=""> -->
    </div>
  </header>

  <div class="search-bar">
    <input type="text" placeholder="Search" (focus)="navigateToSearch()">
    <ion-icon (click)="navigateToFilter()" name="options-outline"></ion-icon>
    <i class="fa fa-sliders-h"></i>
  </div>

  <section class="special-offers">
    <h3>Special Offers <span>See All</span></h3>
    <div class="offer-card">
      <div class="offer-text">
        <h2>30%</h2>
        <p>Today's Special!<br><small>Get discount for every order, only valid for today</small></p>
      </div>
      <img loading="lazy" src="https://via.placeholder.com/100" alt="Offer Image">
    </div>
  </section>

  <section class="categories">
    <div class="category-item">
      <img src="assets/clothes.png" width="30px" alt="">
      <p>Clothes</p>
    </div>
    <div class="category-item">
      <img src="assets/shoes.png" width="30px" alt="">
      <p>Shoes</p>
    </div>
    <div class="category-item">
      <img src="assets/bags.png" width="30px" alt="">
      <p>Bags</p>
    </div>
    <div class="category-item">
      <img src="assets/electronics.png" width="30px" alt="">
      <p>Electronics</p>
    </div>
    <div class="category-item">
      <img src="assets/watch.png" width="30px" alt="">
      <p>Watch</p>
    </div>
    <div class="category-item">
      <img src="assets/diamonds.png" width="30px" alt="">
      <p>Jewelry</p>
    </div>
    <div class="category-item">
      <img src="assets/kitchen.png" width="30px" alt="">
      <p>Kitchen</p>
    </div>
    <div class="category-item">
      <img src="assets/toys.png" width="30px" alt="">
      <p>Toys</p>
    </div>
  </section>

  <section class="most-popular">
    <h3>Most Popular <span (click)="navigateToProductLists()">See All</span></h3>
    <div class="filter-buttons">
      <button class="active">All</button>
      <button>Clothes</button>
      <button>Shoes</button>
      <button>Bags</button>
      <button>Electronics</button>
    </div>
    <app-product-lists [showheader]="false" [search]="false"></app-product-lists>

  </section>

</div>