<div collapse="fade" class="ion-no-border" *ngIf="showheader">
  <div class="ion-toolbar">
    <ion-icon size="medium" class="ionic-icon" (click)="goBack()" name="arrow-back-outline"></ion-icon>
    <div class="ionic-title">Most Popular</div>
  </div>
</div>

  <div class="container">
    <section class="most-popular" *ngIf="showheader">
      <div class="filter-buttons">
        <button class="active">All</button>
        <button>Clothes</button>
        <button>Shoes</button>
        <button>Bags</button>
        <button>Electronics</button>
      </div>
    </section>



    <div class="product-grid">
      <!-- Product Card -->
      <div class="product-card" (click)="viewProduct(1)">
        <img src="assets/shirt-1/1.webp"
          alt="Fujifilm Camera">
        <h3>Fujifilm Camera</h3>
        <p class="rating"><span class="price">$550.00</span> | <button>6,448
            sold</button></p>
        
      </div>

      <div class="product-card" (click)="viewProduct(2)">
        <img src="assets/shirt-2/1.webp"
          alt="Silver Watch">
        <h3>Silver Watch</h3>
        <p class="rating"><span class="price">$875.00</span> | <button>7,642
            sold</button></p>
        
      </div>

      <div class="product-card" (click)="viewProduct(3)">
        <img src="assets/shirt-3/1.webp"
          alt="Airtight Microphone">
        <h3>Airtight Microphone</h3>
        <p class="rating"><span class="price">$345.00</span> | <button>6,378
            sold</button></p>
        
      </div>

      <div class="product-card" (click)="viewProduct(4)">
        <img src="assets/shirt-4/1.webp"
          alt="Silent Headphones">
        <h3>Silent Headphones</h3>
        <p class="rating"><span class="price">$460.00</span> | <button>5,372
            sold</button></p>
        
      </div>
    </div>
  </div>