<div collapse="fade" class="ion-no-border" *ngIf="showheader">
  <div class="ion-toolbar">
    <ion-icon size="medium" class="ionic-icon" (click)="goBack()" name="arrow-back-outline"></ion-icon>
    <div class="ionic-title">Most Popular</div>
  </div>
</div>

  <div class="container">
    <section class="most-popular" *ngIf="showheader">
      <div class="filter-buttons">
        <button class="active">All</button>
        <button>Clothes</button>
        <button>Shoes</button>
        <button>Bags</button>
        <button>Electronics</button>
      </div>
    </section>



    <div class="product-grid">
      <!-- Product Card -->
      <div class="product-card" (click)="viewProduct()">
        <img src="assets/shirt.png"
          alt="Fujifilm Camera">
        <ion-icon size="medium" class="favorite ionic-icon" name="heart-outline"></ion-icon>
        <h3>Fujifilm Camera</h3>
        <p class="rating"><ion-icon size="medium" class="ionic-icon" name="star-half-outline"></ion-icon> 4.6 | <button>6,448
            sold</button></p>
        <p class="price">$550.00</p>
      </div>

      <div class="product-card" (click)="viewProduct()">
        <img src="assets/shirt.png"
          alt="Silver Watch">
        <ion-icon size="medium" class="favorite ionic-icon" name="heart-outline"></ion-icon>
        <h3>Silver Watch</h3>
        <p class="rating"><ion-icon size="medium" class="ionic-icon" name="star-half-outline"></ion-icon> 4.8 | <button>7,642
            sold</button></p>
        <p class="price">$875.00</p>
      </div>

      <div class="product-card" (click)="viewProduct()">
        <img src="assets/shirt.png"
          alt="Airtight Microphone">
        <ion-icon size="medium" class="favorite ionic-icon" name="heart-outline"></ion-icon>
        <h3>Airtight Microphone</h3>
        <p class="rating"><ion-icon size="medium" class="ionic-icon" name="star-half-outline"></ion-icon> 4.8 | <button>6,378
            sold</button></p>
        <p class="price">$345.00</p>
      </div>

      <div class="product-card" (click)="viewProduct()">
        <img src="assets/shirt.png"
          alt="Silent Headphones">
        <ion-icon size="medium" class="favorite ionic-icon" name="heart-outline"></ion-icon>
        <h3>Silent Headphones</h3>
        <p class="rating"><ion-icon size="medium" class="ionic-icon" name="star-half-outline"></ion-icon> 4.5 | <button>5,372
            sold</button></p>
        <p class="price">$460.00</p>
      </div>
    </div>
  </div>