<div collapse="fade" class="ion-no-border">
  <div class="ion-toolbar" *ngIf="showheader">
    <ion-icon size="medium" class="ionic-icon" (click)="goBack()" name="arrow-back-outline"></ion-icon>
    <div class="ionic-title">{{search? 'Search':'Most Popular'}}</div>
  </div>
</div>

<div class="container">
  <div class="search container" *ngIf="search">
    <div class="search-bar">
      <input type="text" placeholder="Search" [(ngModel)]="searchQuery" (input)="onSearch(searchQuery)">
      <ion-icon name="options-outline" (click)="navigateToFilter()"></ion-icon>
      <i class="fa fa-sliders-h"></i>
    </div>
  </div>

  <div class="show-search-results" *ngIf="search && searchQuery">
    <span>Results for "{{searchQuery}}"</span>
    <span *ngIf="!filteredProducts.length">found 0</span>
    <span *ngIf="filteredProducts.length">{{filteredProducts.length}} found</span>
  </div>
  <section class="most-popular" *ngIf="showheader && filteredProducts.length">
    <div class="filter-buttons">
      <button>All</button>
      <button class="active">Clothes</button>
      <button>Shoes</button>
      <button>Bags</button>
      <button>Pants</button>
    </div>
  </section>



  <div class="product-grid">
    <!-- Product Card -->
    <div class="product-card" *ngFor="let data of (search ? filteredProducts : products); let i = index" (click)="viewProduct(i + 1)">
      <img [src]="'assets/' + data.folder + '/' + (1) + '.webp'" [alt]="data.productName">
      <p><span class="price">INR {{ data.productAmount - 7}}</span></p>
      <p class="productname">{{ data.productName }}</p>
      <p class="rating">
        <ion-icon size="medium" color="Warning" class="ionic-icon" name="star-outline"></ion-icon>
        <ion-icon size="medium" color="Warning" class="ionic-icon" name="star-outline"></ion-icon>
        <ion-icon size="medium" color="Warning" class="ionic-icon" name="star-half-outline"></ion-icon>
        <ion-icon size="medium" color="Warning" class="ionic-icon" name="star"></ion-icon>
        <ion-icon size="medium" color="Warning" class="ionic-icon" name="star"></ion-icon>
        <span class="number">2,93{{i}}</span>
         </p>
    </div>
    
  </div>
</div>