<div collapse="fade" class="ion-no-border">
  <div class="ion-toolbar">
      <ion-icon size="medium" class="ionic-icon" (click)="goBack()" name="arrow-back-outline"></ion-icon>
      <div class="ionic-title">Offers</div>
  </div>
</div>
<section class="special-offers">
  <div class="offer-card" *ngFor="let data of offers">
    <div class="offer-text">
      <h2>{{data.discount}}</h2>
      <p [innerHTML]="data.description"></p>
    </div>
    <img loading="lazy" [src]="data.image" [alt]="data.alt">
  </div>
</section>