::ng-deep .ion-page {
    justify-content: unset;
}

.special-offers 
{
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start; /* Align items to the start */
    h3 {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
    }

}


.offer-card {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px 15px;
    max-width: 400px;
    
}





.offer-text h2 {
    font-size: 25px;
    font-weight: 800;
    color: #333;
    font-weight: 700;
    display: flex;
        align-items: center;
        gap: 10px;
}

.offer-text p {
    font-size: 16px;
    font-weight: 800;
    color: #666;
    margin-top: 5px;
}

.offer-text small {
    font-size: 12px;
    color: #999;
}

.offer-card img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}